<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Prototype Project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<section>
    <header>
        <h1>
            {% if authenticated %}
                <a href="{{ url_for('login') }}">Prototype Project</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Prototype Project</a>
            {% endif %}
        </h1>
    </header>
    <nav>
        <ul>
            {% if authenticated %}
                <li><a href="{{ url_for('login') }}">Home</a></li>
                <li><a href="{{ url_for('data') }}">Data</a></li>
                <li><a href="{{ url_for('view') }}">View</a></li>
                <li><a href="{{ url_for('model') }}">Model</a></li>
            {% else %}
                <li><a href="{{ url_for('logout') }}">Home</a></li>
            {% endif %}
        </ul>
    </nav>
    <article>
        {% block content %}
        {% endblock %}
    </article>
</section>
<footer>
    {% if authenticated %}
        <p class="left"><a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
        <p class="left"><a href="{{ url_for('login') }}">Login</a></p>
    {% endif %}
    <p class="right">© 2022 Bloom Institute of Technology</p>
</footer>
</body>
</html>
